<%= form_for @user, class: 'user-form' do |f| %>
  <p>
    <%= f.label :first_name, 'Имя : ', class: 'form__label'%>
    <%= f.text_field :first_name, class: 'form__input' %>
  </p>
  <p>
    <%= f.label :middle_name, 'Отчество : ', class: 'form__label'%>
    <%= f.text_field :middle_name, class: 'form__input' %>
  </p>
  <p>
    <%= f.label :last_name, 'Фамилия : ', class: 'form__label' %>
    <%= f.text_field :last_name, class: 'form__input' %>
  </p>
  <p>
    <label for="user_gender" class="form__label">Пол: </label>
    <%= f.text_field :gender, class: 'form__input' %>
  </p>
  <p>
    <label for="user_mobile" class="form__label">Мобильный телефон : </label>
    <%= f.text_field :mobile, class: 'form__input' %>
  </p>
  <p>
    <label for="user_email" class="form__label">Email:</label>
    <%= f.email_field :email, class: 'form__input' %>
  </p>
  <%= f.submit "Сохранить", class: 'button form__button' %>
<% end %>